@import "../../styles/config";

.m-timeline {
  margin: 0 auto;

  max-width: 55rem;


  .s-timeline-controls {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;
  }

  .s-button-clear-all {
    -webkit-appearance: none;

    cursor: pointer;

    color: $timeline-warning;
    border: solid 1px $timeline-warning;

    border-radius: 1rem;

    padding: 0.5rem 1rem;

    &:hover {
      background: $timeline-warning-background;
    }
  }
}